*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.conyainer{
    background-color: #df3939;
    width: 350px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 10px 25px black;
    /* padding: 50px 30px; */
}
.container *:not(i){
    font-family: "Rubik", sans-serif;
}
.colors{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
input[type="color"]{
    appearance: none;
    -webkit-appearance: none;
    border-color: transparent;
    width: 100px;
    height: 45px;
    cursor: pointer;
    border-radius: 20px;
}
input[type="color"]::-webkit-color-swatch{
    border: none;
    border-radius: 20px;
}
.buttons{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 30px 0px;
}
.buttons button{
    height: 35px;
    width: 35px;
    background-color: transparent;
    border: 2px solid #d5d5dc;
    border-radius: 5px;
    cursor: pointer;
}
.rotate-icon i{
    transform: rotate(45deg);
}
.buttons .active{
    display: block;
    background-color: #4a6ee0;
    color: #fff;
}
#submit{
    display: block;
    background-color: #4a6ee0;
    color: #fff;
    font-size: 16px;
    padding: 12px 70px;
    border-radius: 25px;
    margin: 0 auto 30px auto;
    cursor: pointer;
}
.output{
    background-color: #f0f2fc;
}
#code{
    width: 100%;
    resize: none;
    color: #30304a;
    padding: 10px 20px;
    background-color: transparent;
}
#copy{
    font-size: 14px;
    background-color: #4a6ee0;
    color: #fff;
    position: relative;
    left: 70%;
    bottom: 10px;
    border-radius: 3px;
    padding: 5px;
    cursor: pointer;
}
